<% include ./partials/header %>


<div class="main__container container ui">
    <h1>EDIT <%= data.title %></h1>
    <form class="ui form" method="POST" action="/blogs/<%= data._id%>?_method=PUT">
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]" value="<%= data.title %>" >
        </div>
        <div class="field">
            <label>Imgage URL</label>
            <input type="text" name="blog[img]" value="<%= data.img %>">
        </div>
        <div class="field">
            <label>Body text</label>
            <input type="text" name="blog[body]" value="<%= data.body %>">
        </div>
        <button class="ui button" type="submit">Save</button>
    </form>
</div> 


<% include ./partials/footer %>