<% include ./partials/header %>
<h1>blog</h1>

<div class="container">
    <% data.forEach(item => { %>
        <div class="item">
            <h2 class="item__title"><%= item.title %></h2>
            <image class="item__img" src="<%= item.img %>" alt="<%= item.title %>"/>
            <p class="item__text"><%= item.body %></p>
            <a href="/blog/<%= item._id %>">read more</a>
        </div>
    <% }) %>
</div>


<h3 class="addNewPost">Add new post</h3>
<form class="addNewPostForm" method="POST" action="/blog/new">
    <div>
      <input class="" type="text" name="blog[title]" placeholder="title" />
    </div>
    <div>
      <input class="" type="text" name="blog[img]" placeholder="imgUrl" />
    </div>
    <div>
      <input class="" type="text" name="blog[body]" placeholder="text" />
    </div>
    <button type="submit">submit</button>
</form>


<% include ./partials/footer %>